<h2>you can't affort it right know better luck to next year</h2>
<h5>Its a add to cart component</h5>


<!-- <ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="height: 250px; width: 200px;"
                                    src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <td style="width: 12%;">{{item.price}}</td>
                            <th style="width: 12%;">{{item.quantity}}</th>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn
                                    btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-danger">Empty cart</button></td>
                            <td><button class="btn btn-primary">Shope More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container> -->