 <h2 class="bg-light mb-2 text-center">Add New Product</h2>
<form (submit)="AddNewProduct(addProductForm)" #addProductForm="ngForm"
       style="border: 3px solid cadetblue; padding: 20px; " >

  <div class="row ">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Product-Id</label>
      <input type="text" class="form-control" required name="product_id" placeholder="Enter Product-Id"
        ngModel>
    </div>

    <div class="col-md-3">
      <label for="validationServer01" class="form-label">product name</label>
      <input type="text" class="form-control" placeholder="Enter product Name"
        required name="product_Name" ngModel>
    </div>
  </div>

  <div class="row">
       <div class="col-md-3">
       </div>

    <div class="col-md-3 mt-3">
        <label for="validationServer03" class="form-label">Description</label>
        <input type="text" class="form-control" placeholder="Enter Product Desciption"
         required name="description" ngModel>      
    </div>

    <div class="col-md-3 mt-3">
      <label for="validationServer04" class="form-label">Price</label>
      <input type="text" class="form-control" required name="price" placeholder="Enter Product Price" ngModel>
    </div>
  </div>

  <div class="col-12 text-center mt-5 mb-3">
    <button class="btn btn-primary" (click)=Success() type="submit" >Submit form</button>
  </div>
</form>