<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Dubey-shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active"
                        aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#!">Service</a></li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown"
                        href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/products"
                                routerLink="">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item"
                                href="/products/add-product" routerLink="">Add
                                Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>


                <div class="container">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown"
                            href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Category</a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" *ngFor="let catg of
                                    categoryList"
                                    href="products/search-cat/{{catg.id}}"
                                    routerLink="">{{catg.cetegorieName}}</a></li>
                            <li><hr class="dropdown-divider" /></li>
                        </ul>
                    </li>
                </div>
            </ul>

            <form class="d-flex">
                <button class="btn btn-outline-light" type="button"
                    (click)="cart()" routerLink="/add-card">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">5</span>
                </button>
            </form>
        </div>
    </div>
</nav>
